http:
  routers:
    api.h1ve:
      entryPoints:
        - web
      rule: Host(`api.h1ve`)
      service: api.h1ve
  services:
    api.h1ve:
      loadBalancer:
        servers:
          - url: http://localhost:8080
