services:
  app:
    build:
      context: ./app
    container_name: h1ve-{{ layer.name }}-app
    networks:
      - h1ve

{% if layer.services is defined %}
{% for service in layer.services %}
  {{ service }}:
    image: {{ layer.services[service].image }}
    container_name: h1ve-{{ layer.name }}-{{ service }}
    restart: unless-stopped
    env_file:
      - path: ./{{ service }}.env
        required: false
{% if layer.services[service].command is defined %}
    command:
{% for command in layer.services[service].command %}
      - {{ command }}
{% endfor %}
{% endif %}
{% if layer.services[service].ports is defined %}
    ports:
{% for port in layer.services[service].ports %}
      - {{ port }}
{% endfor %}
{% endif %}
{% if layer.services[service].config is defined or layer.services[service].volumes is defined %}
    volumes:
{% endif %}
{% if layer.services[service].config is defined %}
      - ${H1VE_CONFIG}/{{ layer.name }}/{{ service }}:{{ layer.services[service].config }}
{% endif %}
{% if layer.services[service].volumes is defined %}
{% for volume in layer.services[service].volumes %}
      - ${H1VE_DATA}/{{ layer.name }}/{{ service }}{{ volume }}:{{ volume }}
{% endfor %}
{% endif %}
{% if layer.services[service].socket is defined and layer.services[service].socket == True %}
      - /var/run/docker.sock:/var/run/docker.sock
{% endif %}
    networks:
      - h1ve
{% endfor %}
{% endif %}

networks:
  h1ve:
    external: true
