version: "2"
services:
  app:
    image: jazzdd/alpine-flask
    container_name: h1ve-{{ name }}-app
    volumes:
        - ./app:/app

{% if services is defined %}
{% for service in services %}
  {{ service }}:
    image: {{ services[service].image }}
    container_name: h1ve-{{ name }}-{{ service }}
    restart: unless-stopped
{% if services[service].command is defined %}
    command:
{% for command in services[service].command %}
      - {{ command }}
{% endfor %}
{% endif %}
{% if services[service].ports is defined %}
    ports:
{% for port in services[service].ports %}
      - {{ port }}
{% endfor %}
{% endif %}
    volumes:
{% if services[service].config is defined %}
      - ${H1VE_CONFIG}/{{ name }}/{{ service }}:{{ services[service].config }}
{% endif %}
{% if services[service].volumes is defined %}
{% for volume in services[service].volumes %}
      - ${H1VE_DATA}/{{ name }}/{{ service }}{{ volume }}:{{ volume }}
{% endfor %}
{% endif %}
{% if services[service].socket == True %}
      - /var/run/docker.sock:/var/run/docker.sock
{% endif %}
    networks:
      - h1ve
{% endfor %}
{% endif %}

networks:
  h1ve:
    external: true
